{% extends '@Front/base_front.html.twig' %}
{% block sous_menu_titre %}{{ 'dmfRemboursement_liste.titre'|trans }}{% endblock %}
{% block body_container %}
    <style>
        .card{ box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .card:hover{ box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
        }
    </style>
    {% set cheque = " " %}
    <div class="col-12" style="font-family: 'Courier New'">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead id="customers">
                        <tr >
                            <th scope="col">{{ 'dmfRemboursement_liste.numero'|trans }}</th>
                            <th scope="col">{{ 'dmfRemboursement_liste.date'|trans }}</th>
                            <th scope="col">{{ 'dmfRemboursement_liste.montant'|trans }}</th>
                            <th scope="col">{{ 'dmfRemboursement_liste.cheque'|trans }}</th>
                            <th scope="col">{{ 'dmfRemboursement_liste.etat'|trans }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for demandes in demandes %}
                            {% if demandes.typeCheque=="1" %}
                                {% set cheque ='dmfRemboursement_liste.cheque barree'|trans %}
                            {% endif %}

                            {% if demandes.typeCheque=="0" %}
                                {% set cheque = 'dmfRemboursement_liste.cheque non barree'|trans %}
                            {% endif %}
                            {% set couleur = '' %}
                            {% set noir = '' %}
                            {% if demandes.etat == 'confirmer' or demandes.etat == 'En attente de confirmation' %}
                                {% set couleur = 'alert-primary' %}
                            {% endif %}
                            {% if demandes.etat == 'creation' or demandes.etat == 'En cour de création'  %}
                                {% set noir = 'dz' %}
                            {% endif %}

                            {% if demandes.etat == 'okok' or demandes.etat == 'demandes acceptée' %}
                                {% set couleur = 'alert-success' %}
                            {% endif %}

                            {% if demandes.etat == '2-confirmer' or demandes.etat == 'Remboursement effectuer' %}
                                {% set couleur = 'alert-warning' %}
                            {% endif %}

                            {% if demandes.etat == 'Retour (demandes Annulée)' or demandes.etat == 'demandes Refusée' %}
                                {% set couleur = 'alert-danger' %}
                            {% endif %}
                            <tr>
                                <td>{{ demandes.numero }}</td>
                                <td>{{ demandes.date|date('d/m/Y') }}</td>
                                <td class="text-right">{{ demandes.montant|number_format('2',',',' ')}}</td>
                                <td>{{ cheque }}</td>
                                <td class="{{ couleur }} text-center" style=" background-color:{{ couleur }} ;text-align: center;  {% if noir != "" %}background-color: #dddddd; {% endif %}">
                                    {{ demandes.etat }}
                                </td>


                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


{% endblock %}