<!doctype html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}{{ 'inscription.register'|trans }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/bootstrap-4.2.1/css/bootstrap.min.css') }}" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/FosUser/login.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% block stylecss %}{% endblock %}


    <script src="{{ asset('assets/bootstrap-4.2.1/js/jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/bootstrap-4.2.1/js/popper.min.js') }}" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/bootstrap-4.2.1/js/bootstrap.min.js') }}" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    {#DATE TIME PICKER#}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-4.2.1/datepicker/tempusdominus-bootstrap-4.min.css') }}">
    <script src="{{ asset('assets/bootstrap-4.2.1/datepicker/moment.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-4.2.1/datepicker/tempusdominus-bootstrap-4.min.js') }}"></script>

    {#CONTRAINTE DE SAISIE#}
    <script src="{{ asset('assets/bootstrap-4.2.1/js/input_constraint.js') }}"></script>

    <script src="{{ asset('assets/bootstrap-4.2.1/js/masks.js') }}"></script>

    {% include '@Personne/Inscription/css-inscription.html.twig' %}
</head>

<body id="LoginForm" >


<div class="container register">

    {% block body %}{% endblock %}

</div>

{% block javascript %}{% endblock %}

</body>

</html>
