{% extends '@Back/base_backend.html.twig' %}
{% block sous_menu_titre %}Listes des demandes QH{% endblock %}
{% block body_container %}
    <style>

    </style>
    {% set cheque = " " %}
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped" >
                <thead id="customers">
                <tr>
                    <th scope="col">{{ 'listedemandeQH.numero'|trans }}</th>
                    <th scope="col">{{ 'listedemandeQH.date'|trans }}</th>
                    <th scope="col">{{ 'listedemandeQH.photo'|trans }}</th>
                    <th scope="col">{{ 'listedemandeQH.nom et prenom'|trans }}</th>
                    <th scope="col">Etat du dossier</th>



                </tr>
                </thead>
                <tbody>
                {% for demandeQH in demandeQHs %}

                    {% if demandeQH.nomEtat == 'confirmer' or demandeQH.nomEtat == 'En attente de confirmation' %}
                        {% set couleur = 'alert-primary' %}
                    {% endif %}

                    {% if demandeQH.nomEtat == 'okok' or demandeQH.nomEtat == 'Acceptée' %}
                        {% set couleur = 'alert-success' %}
                    {% endif %}

                    {% if  demandeQH.nomEtat == 'Refusée' %}
                        {% set couleur = 'alert-danger' %}
                    {% endif %}
                    {% if  demandeQH.demadeQH.personne.numeroDemandeQHtemp == demandeQH.demadeQH.numero  %}
                        <tr>
                            <td><a href="{{ path('confirmationdossierQH',{ 'id' : demandeQH.id}) }}" >{{ demandeQH.demadeQH.numero }}</a></td>
                            <td><a >{{ demandeQH.demadeQH.numero }}</a></td>
                            <td><img src="{{ asset('document/'~ demandeQH.demadeQH.personne.photo) }}" class="img img-fluid" alt="" width="50" height="50"></td>
                            <td>{{ demandeQH.demadeQH.personne.nom ~' '~ demandeQH.demadeQH.personne.prenom }}</td>
                            <td>{{ demandeQH.verification }}</td>
                        </tr>
                    {% endif %}

                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>


{% endblock %}