<div class="carousel-item">
    <fieldset class="groove">

        <div class="row container-fluid">

            <div class="col-12">

                <h3 class="text-primary text-center">{{ 'demandeqh_ajouter.antecedent'|trans }}</h3>
                <br>
                <div class="form-group text-center">

                    <div class="maxl">
                        <label for=""><h3 >{{ 'demandeqh_ajouter.info'|trans }}</h3> <b class="text-danger" id="err_info"></b></label><br>
                        <div class="row"><div class="col-md-3"></div>
                            <div class="col-md-9">
                                <table>
                                    <tr><td><label for="annee1">{{ 'demandeqh_ajouter.annee'|trans }}1</label>
                                            <input name="annee1" type="text" class="form-control" id="annee1"    autocomplete="off">
                                            <b class="text-danger" id="err_annee1"></b>
                                        </td>
                                        <td> </td>
                                        <td><label for="montant1">{{ 'demandeqh_ajouter.montant'|trans }}1</label>
                                            <input name="montant1" type="text" class="form-control" id="montant1"   autocomplete="off">
                                            <b class="text-danger" id="err_montant1"></b>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><label for="message">{{ 'demandeqh_ajouter.annee'|trans }}2</label>
                                            <input name="annee2" type="text" class="form-control" id="annee2"   autocomplete="off">
                                            <b class="text-danger" id="err_annee2"></b>
                                        </td>
                                        <td> </td>
                                        <td><label for="message">{{ 'demandeqh_ajouter.montant'|trans }}2</label>
                                            <input name="montant2" type="text" class="form-control" id="montant2"    autocomplete="off">
                                            <b class="text-danger" id="err_montant2"></b>
                                        </td>
                                    </tr>
                                    <tr><td><label for="message">{{ 'demandeqh_ajouter.annee'|trans }}3</label>
                                            <input name="annee3" type="text" class="form-control" id="annee3"    autocomplete="off">
                                            <b class="text-danger" id="err_annee3"></b>
                                        </td>
                                        <td> </td>
                                        <td><label for="message">{{ 'demandeqh_ajouter.montant'|trans }}3</label>
                                            <input name="montant3" type="text" class="form-control" id="montant3"   autocomplete="off">
                                            <b class="text-danger" id="err_montant3"></b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
                <button  type="button" class="btn-link btn btn-lg float-left " id="prev0" >{{ 'demandeqh_ajouter.precedent'|trans }}</button>
                <button  type="button" class="btn-link btn btn-lg float-right " id="btn4" >{{ 'demandeqh_ajouter.suivant'|trans }}</button>
            </div>
        </div><br>
    </fieldset>
</div>