<div class="carousel-item">
    <fieldset class="groove">

        <div class="row container-fluid">

            <div class="col-12">
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3 >{{ 'demandeqh_ajouter.garant1'|trans }}</h3> <b class="text-danger" id="err_garant1"></b></label><br></legende>
                    <div class="form-group text-center">

                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.nomits'|trans }}</label>

                                        </div>
                                        <div class="col-md-6">
                                            <input name="nomits" type="text" class="form-control" id="nomits"   required autocomplete="off">
                                            <b class="text-danger" id="err_nomits"></b>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.its'|trans }}</label>
                                            <br>
                                            <b class="text-danger" id="err_its"></b>
                                        </div>
                                        <div class="col-md-6">
                                            <input name="its" type="text" class="form-control" id="its"   required autocomplete="off">
                                            <b class="text-danger" id="err_its"></b>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.moze'|trans }}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select name="moza" id="moza" class="form-control">
                                                <option value="Tananarivo Jamaat">Tananarivo Jamaat</option>
                                                <option value="Morondava Jamaat">Morondava Jamaat</option>
                                                <option value="Majinga Jamaat">Majunga Jamaat</option>
                                                <option value="Maroantsetra Jamaat">Maroantsetra Jamaat</option>
                                                <option value="Maintirano Jamaat">Maintirano Jamaat</option>
                                                <option value="Fort Dauphin Jamaat">Fort Dauphin Jamaat</option>
                                                <option value="Ambilobe Jamaat">Ambilobe Jamaat</option>
                                                <option value="Ambanja Jamaat">Ambanja Jamaat</option>
                                                <option value="Vohemar Jamaat">Vohemar Jamaat</option>
                                                <option value="Sambava Jamaat">Sambava Jamaat</option>
                                                <option value="Diego Jamaat">Diego Jamaat</option>
                                            </select>

                                        </div>

                                    </div>
                                    <br>


                                    <br>

                                </div>

                            </div>




                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3 >{{ 'demandeqh_ajouter.garant2'|trans }}</h3> <b class="text-danger" id="err_demande"></b></label><br></legende>
                    <div class="form-group text-center">

                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.nomits'|trans }}</label>

                                                </div>
                                                <div class="col-md-6">
                                                    <input name="nomits1" type="text" class="form-control" id="nomits1"   required autocomplete="off">
                                                    <b class="text-danger" id="err_nomits1"></b>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.its'|trans }}</label>
                                                    <br>
                                                    <b class="text-danger" id="err_its1"></b>
                                                </div>
                                                <div class="col-md-6">
                                                    <input name="its1" type="text" class="form-control" id="its1"   required autocomplete="off">
                                                    <b class="text-danger" id="err_its1"></b>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.moze'|trans }}</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <select name="moza1" id="moza1" class="form-control">
                                                        <option value="Tananarivo Jamaat">Tananarivo Jamaat</option>
                                                        <option value="Morondava Jamaat">Morondava Jamaat</option>
                                                        <option value="Majinga Jamaat">Majunga Jamaat</option>
                                                        <option value="Maroantsetra Jamaat">Maroantsetra Jamaat</option>
                                                        <option value="Maintirano Jamaat">Maintirano Jamaat</option>
                                                        <option value="Fort Dauphin Jamaat">Fort Dauphin Jamaat</option>
                                                        <option value="Ambilobe Jamaat">Ambilobe Jamaat</option>
                                                        <option value="Ambanja Jamaat">Ambanja Jamaat</option>
                                                        <option value="Vohemar Jamaat">Vohemar Jamaat</option>
                                                        <option value="Sambava Jamaat">Sambava Jamaat</option>
                                                        <option value="Diego Jamaat">Diego Jamaat</option>
                                                    </select>

                                                </div>

                                            </div>
                                            <br>

                                            <br>

                                        </div>

                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </fieldset>
                <br>
                <button  type="button" class="btn-link btn btn-lg float-left " id="prev4" >{{ 'demandeqh_ajouter.precedent'|trans }}</button>
                <button  type="button" class="btn-link btn btn-lg float-right " id="btn7" >{{ 'demandeqh_ajouter.suivant'|trans }}</button>
            </div>





        </div><br>

    </fieldset>
</div>