<div class="carousel-item ">
    <fieldset class="groove">

        <div class="row container-fluid">

            <div class="col-12">
                <br>
                <h3 class=" text-center">

                </h3>
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3 class="text-primary">{{ 'demandeqh_ajouter.nouvelle_demande'|trans }}</h3> </label><br></legende>
                    <div class="form-group text-center">
                        <i class="fa fa-edit float-right" id="1"></i>

                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{ 'demandeqh_ajouter.resume_question'|trans }}</label>

                                        </div>
                                        <div class="col-md-3">

                                            <b id="resume_quest"> </b>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" id="resume_label">
                                        <div class="col-md-6">
                                            <label >{{ 'demandeqh_ajouter.resume_etat'|trans }}</label>

                                        </div>
                                        <div class="col-md-3">

                                            <b id="resume_etat"> </b>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="groove container-fluid" id="cacher">
                    <br>
                    <legende><label for=""><h3 class="text-primary">{{ 'demandeqh_ajouter.resume_info'|trans }}</h3> <b class="text-danger" id="err_demande"></b></label><br></legende>
                    <div class="form-group text-center">
                        <i class="fa fa-edit float-right" id="2"></i>
                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped">
                                        <thead><th><label for="annee1">{{ 'demandeqh_ajouter.annee'|trans }}</label></th>
                                        <th></th>
                                        <th><label for="annee1">{{ 'demandeqh_ajouter.montant'|trans }}</label></th>
                                        </thead>

                                        <tr><td>
                                                <b class="text-center" id="rannee1"></b>
                                            </td>
                                            <td> </td>
                                            <td>
                                                <b class="text-center" id="rmontant1"></b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <b class="text-center" id="rannee2"></b>
                                            </td>
                                            <td> </td>
                                            <td>
                                                <b class="text-center" id="rmontant2"></b>
                                            </td>
                                        </tr>
                                        <tr><td>
                                                <b class="text-center" id="rannee3"></b>
                                            </td>
                                            <td> </td>
                                            <td>
                                                <b class="text-center" id="rmontant3"></b>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3  class="text-primary">{{ 'demandeqh_ajouter.nouvelle_demande'|trans }}</h3> <b class="text-danger" id="err_demande"></b></label><br></legende>
                    <div class="form-group text-center">
                        <i class="fa fa-edit float-right" id="3"></i>
                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.monotant2'|trans }}</label>

                                        </div>
                                        <div class="col-md-6">
                                            <b  id="rmontant"></b>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.mois'|trans }}</label>

                                        </div>
                                        <div class="col-md-6">

                                            <b  id="rmois"></b>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3 class="text-primary">{{ 'demandeqh_ajouter.objet'|trans }}</h3> </label><br></legende>
                    <div class="form-group text-center">

                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.motif'|trans }}</label>
                                        </div>
                                        <div class="col-md-6">

                                            <b  id="rmotif"></b>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.detail'|trans }}</label>
                                        </div>
                                        <div class="col-md-6">

                                            <b id="rdetail"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3 class="text-primary">{{ 'demandeqh_ajouter.garentie'|trans }}</h3> </label><br></legende>
                    <div class="form-group text-center">

                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{ 'demandeqh_ajouter.or'|trans }}</label>
                                        </div>

                                        <div class="col-md-6">
                                            <b  id="ror"></b>
                                        </div>

                                    </div>
                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3 class="text-primary">{{ 'demandeqh_ajouter.garant1'|trans }}</h3> <b class="text-danger" id="err_demande"></b></label><br></legende>
                    <div class="form-group text-center">
                        <i class="fa fa-edit float-right" id="4"></i>
                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.nomits'|trans }}</label>

                                                </div>
                                                <div class="col-md-6">
                                                    <b id="rnomits"></b>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.its'|trans }}</label>

                                                </div>
                                                <div class="col-md-6">
                                                    <b  id="rits"></b>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.moze'|trans }}</label>
                                                </div>
                                                <div class="col-md-6">

                                                    <b  id="rmoza"></b>
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.nomcin'|trans }}</label>

                                                </div>
                                                <div class="col-md-6">
                                                    <b  id="rcin"></b>
                                                </div>
                                            </div>
                                            <br>

                                            <br>

                                        </div>

                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset class="groove container-fluid">
                    <br>
                    <legende><label for=""><h3 class="text-primary">{{ 'demandeqh_ajouter.garant2'|trans }}</h3> <b class="text-danger" id="err_demande"></b></label><br></legende>
                    <div class="form-group text-center">

                        <div class="maxl">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.nomits'|trans }}</label>

                                                </div>
                                                <div class="col-md-6">
                                                    <b  id="rnomits1"></b>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.its'|trans }}</label>

                                                </div>
                                                <div class="col-md-6">
                                                    <b  id="rits1"></b>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.moze'|trans }}</label>
                                                </div>
                                                <div class="col-md-6">

                                                    <b  id="rmoza1"></b>
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>{{ 'demandeqh_ajouter.nomcin'|trans }}</label>

                                                </div>
                                                <div class="col-md-6">
                                                    <b  id="rcin1"></b>
                                                </div>
                                            </div>
                                            <br>

                                            <br>

                                        </div>

                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </fieldset>
                <br>
                <button  type="button" class="btn-link btn btn-lg float-left " id="prev5" >{{ 'demandeqh_ajouter.precedent'|trans }}</button>
                <button  type="submit" class="btn-link btn btn-lg text-center float-right " id="btn8" >{{ 'demandeqh_ajouter.suivant'|trans }}</button>
                <br>
            </div>

        </div>
        <br>

    </fieldset>
    <br>

</div>