{% extends '@DemandeQh/demande/BaseDemandQH.html.twig' %}

{% block body_container %}


    <div class="col-12">
      <h1 style="text-align:center"></h1>
        <main>

            <div class="stepper">
                <div class="step--1 step-active">Vos infos</div>
                <div class="step--2">Votre demande</div>
                <div class="step--3">Vos garanties</div>
                <div class="step--4">Fin</div>
            </div>

            <form class="form form-active">
                <div id="1" style="margin-left: -15px">
                    <div class="form--header-container">
                        <h1 class="form--header-title">
                            FAIZ E MOHAMMADI QARDAN HASANAH
                        </h1>

                        <p class="form--header-text">

                        </p>
                    </div>
                    <table>
                        <tr><td>Photo :{{ personne.moze.moze }}</td><td><input type="file" name="photo" /></td></tr>
                        <tr><td>Moze :</td><td>
                                <select name="moze" id="moza">
                                    {% for moze in mozes %}
                                    <option
                                            {% if(personne.moze.moze==moze.moze) %}
                                            selected
                                            {% endif %}
                                            value="{{ moze.moze }}">{{ moze.moze }}</option>

                                    {% endfor %}
                                </select>
                            </td></tr>
                    </table>
                    <table style="width: 25rem;">

                        <tr>
                            <td>
                                ITS N° </br>
                                <input id="itsuser" value="{{ personne.numeroIts }}" type="text" name="its" /></td>
                            <b class="text-danger" id="err_itsuser"></b>
                            <div class="form--message"></div>
                            <td>
                                Sabil N°</br><input value="{{ personne.numeroSabil }}" id="tab" type="text" name="sabil" /></td>
                            <td>
                                Age </br> <input value="{{ personne.datenaissance|date('d/m/Y') }}" id="tab" type="text" name="age" /></td>
                        </tr>

                      </table>
                    <hr>
                    <p class="form--header-text">
                        Nom inscrit sur la carte ITS
                    </p>
                    <table style="width: 25rem;">

                        <tr>
                            <td>
                                Préfixe </br>
                                <select name="prefixe" id="tab0" >

                                    <option value="">  </option>
                                    <option value="Sheik."> Sheik. </option>
                                    <option value="Mulla."> Mulla. </option>
                                    <option value="Bhai."> Bhai. </option>
                                    <option value="Behn."> Behn. </option>

                                </select>
                            </td><td>
                                Prénom</br><input value="{{ personne.prenom }}" name="prenom" id="tab2" type="text" placeholder="" /></td>
                            <td>
                                Nom de famille </br> <input value="{{ personne.nom }}" name="nom" id="tab2" type="text" placeholder="" /></td>
                        </tr>

                    </table>
                </div>

                <button class="form__btn" id="btn-1" onclick="test_its('itsuser','err_itsuser')">Suivant</button>
            </form>
            <form class="form">
                <div class="form--header-container">
                    <h1 class="form--header-title">
                        FAIZ E MOHAMMADI QARDAN HASANAH
                    </h1>

                    <p class="form--header-text">

                    </p>
                </div>

                <table>
                    <tr><td>Montant demandé en Ariary <br><input type="text" name="montant" /></td></tr>
                    <tr>
                        <td><br>
                            <ul style="list-style: none">
                                <li>Remboursement en <br><input type="number" name="mois" /></li>
                                <li>Indiquez le nombre de mois ou d'années de remboursement</li>
                            </ul><br>

                        </td><td>
                            <div id="div1" >Mensualité ou Annuel <br>
                                 <input type="radio"
                                             name="unite" value="mois">
                                    <label for="contactChoice1">Mois</label><br>

                                <input type="radio"
                                       name="unite" value="annee">
                                <label for="contactChoice1">Années</label>

                            </div>

                        </td></tr>
                    <tr >
                        <td style="padding-top: 5px">
                            <span > Détaillez la raison du prêt / Vos Motifs </span>
                            <textarea name="motif" id="area" cols="30" rows="9"></textarea>
                        </td>
                        <td style="padding-top: 55px">
                            <div id="div1">
                                Type de question <br>
                                <input type="checkbox" id="coding" name="interest" value="coding">
                                <label for="coding">Culturel</label>
                            </div>
                            <div id="div1">
                                <input type="checkbox" id="music" name="question" value="music">
                                <label for="music">Social</label>
                            </div>
                            <div id="div1">
                                <input type="checkbox" id="art" name="question" value="art">
                                <label for="art">Professionel</label>
                            </div>
                            <div id="div1">
                                <input type="checkbox" id="sports" name="question" value="sports">
                                <label for="sports">Personnel</label>
                            </div>
                            <div id="div1">
                                <input type="checkbox" id="other" name="question" value="other">
                                <label for="other">Autre</label>
                                <input type="text" id="otherValue" name="other">
                            </div>

                        </td>
                    </tr>
                </table>
                <script>
                    var otherCheckbox = document.querySelector('input[value="other"]');
                    var otherText = document.querySelector('input[id="otherValue"]');
                    var msg = document.querySelector('.form--message');
                    otherText.style.visibility = 'hidden';
                    msg.style.visibility = 'hidden';
                    otherCheckbox.onchange = function() {
                        if(otherCheckbox.checked) {
                            otherText.style.visibility = 'visible';
                            otherText.value = '';
                        } else {
                            otherText.style.visibility = 'hidden';
                        }
                    };
                    function test_its(x,y) {

                        var str = document.getElementById(x).value;

                        var patt1 = /^[1-9]/g;
                        var res = str.match(patt1);
                        //alert(res);
                        var taille = str.length;
                        if(res!=null && taille==8){
                            $(y).text('');


                            return true;
                        }
                        else
                        {
                            //alert($('#itsuser').val())
                            //alert('Entrer un nombre de 8 chiffres et qui ne commence pas par zéro');
                            //$(y).text('Entrer un nombre de 8 chiffres et qui ne commence pas par zéro');
                            return false;
                        }

                    }
                </script>

                <button class="form__btn" id="btn-2-prev">Précédent</button>
                <button class="form__btn" id="btn-2-next">Suivant</button>
            </form>
            <form class="form">
                <div class="form--header-container">
                    <h1 class="form--header-title">
                        FAIZ E MOHAMMADI QARDAN HASANAH
                    </h1>

                    <p class="form--header-text">

                    </p>
                </div>
                <legend style="text-align: left">Votre Garant1</legend>
                <table>
                    <tr>
                        <td> Prénom <br>
                            <input id="tab" type="text" name="pgarant1" /></td>
                        <td> Nomde famille <br><input id="tab"type="text" name="ngarant1" /></td>

                        <td> Téléphone <br><input  id="tab" type="text" name="telgarant1"/></td>
                    </tr>
                </table>
                <table>
                    <td>ITS N°
                        <input id="tab" type="text" name="itsgarant1" /></td>
                    <td>
                        Moze
                        <select name="mozegarant1" id="tab">
                            <option value=""></option>
                            <option value="Tananarivo Jamaat">Tananarivo Jamaat</option>
                            <option value="Morondava Jamaat">Morondava Jamaat</option>
                            <option value="Majinga Jamaat">Majunga Jamaat</option>
                            <option value="Maroantsetra Jamaat">Maroantsetra Jamaat</option>
                            <option value="Maintirano Jamaat">Maintirano Jamaat</option>
                            <option value="Fort Dauphin Jamaat">Fort Dauphin Jamaat</option>
                            <option value="Ambilobe Jamaat">Ambilobe Jamaat</option>
                            <option value="Ambanja Jamaat">Ambanja Jamaat</option>
                            <option value="Vohemar Jamaat">Vohemar Jamaat</option>
                            <option value="Sambava Jamaat">Sambava Jamaat</option>
                            <option value="Diego Jamaat">Diego Jamaat</option>
                        </select>                    </td>
                </table>
                <hr>
                <legend style="text-align: left">Votre Garant2</legend>
                <table>
                    <tr>
                        <td> Prénom <br>
                            <input id="tab" type="text" name="pgarant2" /></td>
                        <td> Nomde famille <br><input id="tab"type="text" name="ngarant2" /></td>

                        <td> Téléphone <br><input  id="tab" type="text" name="telgarant2"/></td>
                    </tr>
                </table>
                <table>
                    <td>ITS N°
                        <input id="tab" type="text" name="itsgarant2" /></td>
                    <td>
                        Moze
                        <select name="mozegarant2" id="tab">
                            <option value=""></option>
                            <option value="Tananarivo Jamaat">Tananarivo Jamaat</option>
                            <option value="Morondava Jamaat">Morondava Jamaat</option>
                            <option value="Majinga Jamaat">Majunga Jamaat</option>
                            <option value="Maroantsetra Jamaat">Maroantsetra Jamaat</option>
                            <option value="Maintirano Jamaat">Maintirano Jamaat</option>
                            <option value="Fort Dauphin Jamaat">Fort Dauphin Jamaat</option>
                            <option value="Ambilobe Jamaat">Ambilobe Jamaat</option>
                            <option value="Ambanja Jamaat">Ambanja Jamaat</option>
                            <option value="Vohemar Jamaat">Vohemar Jamaat</option>
                            <option value="Sambava Jamaat">Sambava Jamaat</option>
                            <option value="Diego Jamaat">Diego Jamaat</option>
                        </select>                    </td>
                </table>
                <button class="form__btn" id="btn-3-prev">Précédent</button>
                <button class="form__btn" id="btn-3-next">Suivant</button>
            </form>
            <form class="form">
                <div class="form--header-container">
                    <h1 class="form--header-title">
                        FAIZ E MOHAMMADI QARDAN HASANAH
                    </h1>

                    <p class="form--header-text">

                    </p>
                </div>

                <p style="white-space: pre">
                    Si votre demande est acceptée, vous devez préparer les documents ci-dessous:

                    - Une lettre du responsable de QH de votre ville: démontrant que vous n'avez pas emprunter de QH dans votre ville

                    - Photocopie CIN du demandeur et des deux Garants

                    - Photocopie couleur de votre carte ITS

                    - Photocopie couleur des cartes ITS des deux Garants (G1 & G2)

                    - Safai Chitthi délivré par votre Amil Saheb

                    - Formulaire de vérification de l'or, Kalidas devra la remplir: (Modèle disponible chez nous)

                    - Formulaire de Garantie: à remplir par les deux Garants (Modèle disponible chez nous)

                    Pour toutes autres demandes:

                    fmqardanhasanah@gmail.com ou +261 34 05 230 62
                </p>
                <button class="form__btn" id="btn-4-prev">Précédent</button>
                <button  type ="submit" style="width:20rem" class="form__btn" id="btn-4">Valider Votre Demande</button>
            </form>
            <div class="form--message"></div>
        </main>
        <br>
        <div class="container mt-auto">

           {# <h1 class="text-primary" id="ftitre">{{ 'demandeqh_ajouter.titre'|trans }}</h1><br>
#}
            {#    <div id="titre">
                    <button type="button" class="btn btn-link text-danger text-center " id="etape2" > Antécédents</button>
                    <button type="button" class="btn btn-link text-danger text-center d-none" id="etape3"> </button>
                    <button type="button" class="btn btn-link text-danger text-center d-none" id="etape4" > </button>
                    <button type="button" class="btn btn-link text-danger text-center d-none" id="etape5" > </button>
                    <button type="button" class="btn btn-link text-danger text-center d-none" id="etape6" > </button>
                    <button type="button" class="btn btn-link text-danger text-center d-none" id="etape7" > </button>
                </div>
#}
            <div id="myCarousel" class="carousel slide " data-interval="false">

                <form action="#" method="post" id="formulaire" enctype="multipart/form-data">
                <!-- The slideshow -->
                {#<div class="carousel-inner">

                    #}{#CAROUSEL 0#}{#
                    {% include '@DemandeQh/demande/carousel0.html.twig' %}

                    #}{#CAROUSEL 1#}{#
                    {% include '@DemandeQh/demande/carousel1.html.twig' %}

                    #}{#CAROUSEL 2#}{#
                    {% include '@DemandeQh/demande/carousel2.html.twig' %}

                    #}{#CAROUSEL 3#}{#
                    {% include '@DemandeQh/demande/carousel3.html.twig' %}

                    #}{#CAROUSEL 4#}{#
                    {% include '@DemandeQh/demande/carousel4.html.twig' %}

                    #}{#CAROUSEL 5#}{#
                    {% include '@DemandeQh/demande/carousel5.html.twig' %}
                    #}{#CAROUSEL 6#}{#
                    #}{#{% include '@DemandeQh/demande/carousel6.html.twig' %}#}{#
                </div>#}

              </form>

            </div>

        </div>

        <script>

            $(document).ready(function(){


                // Activate Carousel
                $("#myCarousel").carousel();

                // Enable Carousel Indicators
                $("#etape1").click(function(){
                    $("#myCarousel").carousel(0);
                });
                $("#etape2").click(function(){
                    $("#myCarousel").carousel(1);
                });
                $("#etape3").click(function(){
                    $("#myCarousel").carousel(2);
                });
                $("#etape4").click(function(){
                    $("#myCarousel").carousel(3);
                });
                $("#etape5").click(function(){
                    $("#myCarousel").carousel(4);
                });
                $("#etape6").click(function(){
                    $("#myCarousel").carousel(5);
                });
                $("#etape7").click(function(){
                    $("#myCarousel").carousel(6);
                });
                // Enable Carousel Controls
                $("#prev").click(function(){
                    $("#myCarousel").carousel("prev");
                });
                $("#btn1").click(function(){
                    $("#myCarousel").carousel("next");
                });
                $("#prev2").click(function(){

                        $("#myCarousel").carousel(0);

                });
                $("#prev1").click(function(){

                    $("#myCarousel").carousel(1);

                });
                $("#prev0").click(function(){

                    $("#myCarousel").carousel(0);

                });
                $("#prev3").click(function(){

                    $("#myCarousel").carousel(2);

                });
                $("#prev4").click(function(){

                    $("#myCarousel").carousel(3);

                });
                $("#prev5").click(function(){

                    $("#myCarousel").carousel(4);

                });
                $("#prev6").click(function(){

                    $("#myCarousel").carousel(5);

                });
                // interface2
                if(document.getElementById('non_antecedent').checked)
                {

                    // cacher le boutton vers interface3
                    $("#btn2").addClass('d-none');
                    $("#btn2").removeClass('d-block');
                    $("#prev2").addClass('d-block');
                    $("#prev1").addClass('d-none');

                };

                $("input[type=radio][name=rep_antecedent]").change(function() {
                    if($(this).val() == 'oui') {
                        //Traitement si première case cochée

                        $("#rep_attente").addClass('d-block');
                        $("#rep_attente").removeClass('d-none');
                        document.getElementById('refuser').checked=true;


                    }else if($(this).val() == 'non') {
                        // Traitement si deuxième case cochée
                        $("#rep_attente").addClass('d-none');
                        $("#rep_attente").removeClass('d-block');
                        $("#btn2").removeClass('d-block');
                        $("#btn2").addClass('d-none');
                        $("#btn3").addClass('d-block');
                        $("#btn3").removeClass('d-none');
                        $("#prev2").addClass('d-block');
                        $("#prev1").addClass('d-none');
                    }
                });
                // interface2_etat_reponse
               var temp=false;
                if(document.getElementById('refuser').checked)
                {
                    // cacher le boutton vers interface3
                    $("#btn2").addClass('d-none');
                    $("#btn2").removeClass('d-block');
                    $("#prev2").addClass('d-block');
                    $("#prev1").addClass('d-none');


                };

                $("input[type=radio][name=etat]").change(function() {
                    if($(this).val() == 'oui') {
                        // cacher le boutton vers interface4
                        $("#btn2").removeClass('d-none');
                        $("#btn2").addClass('d-block');
                        $("#btn3").addClass('d-none');
                        $("#btn3").removeClass('d-block');
                        $("#prev2").removeClass('d-block');
                        $("#prev2").addClass('d-none');
                        $("#prev1").removeClass('d-none');
                        $("#prev1").addClass('d-block');


                    }

                    else if($(this).val() == 'non') {
                        // cacher le boutton vers interface3
                        $("#btn3").removeClass('d-none');
                        $("#btn3").addClass('d-block');
                        $("#btn2").removeClass('d-block');
                        $("#btn2").addClass('d-none');
                        $("#prev2").addClass('d-block');
                        $("#prev1").addClass('d-none');
                    }
                });

                $("#btn2").click(function(){
                    $("#etape2").removeClass('d-none');
                 $("#etape2").text('>>Nouvelle demande');
                    if(document.getElementById('oui_antecedent').checked){
                        $("#resume_quest").text('Oui')
                    }
                    if(document.getElementById('accepter').checked){
                        $("#resume_etat").text('Oui')
                    }

                    $("#myCarousel").carousel(1);

                });
                $("#btn3").click(function(){
                    $("#etape3").removeClass('d-none');
                    // $("#etape3").text('>>Etape 3');
                    if(document.getElementById('oui_antecedent').checked){
                        $("#resume_quest").text('Oui')
                    }
                    if(document.getElementById('non_antecedent').checked){
                        $("#resume_quest").text('non');
                        $("#resume_label").addClass('d-none')
                        $("#resume_etat").addClass('d-none')
                        $("#cacher").addClass('d-none')

                    }
                    if(document.getElementById('refuser').checked){
                        $("#resume_etat").text('non')
                        $("#cacher").addClass('d-none')
                    }
                    $("#myCarousel").carousel(2);

                });
                $("#btn4").click(function(){
                    $("#etape3").removeClass('d-none');
                    $("#etape3").text('>>Nouvelle demande');
                    if(mycarousel2()){
                        $("#rannee1").text($("#annee1").val());
                        $("#rmontant1").text($("#montant1").val());
                        $("#rannee2").text($("#annee2").val());
                        $("#rmontant2").text($("#montant2").val());
                        $("#rannee3").text($("#annee3").val());
                        $("#rmontant3").text($("#montant3").val());
                        $("#myCarousel").carousel(2);
                    }


                });

                $("#btn5").click(function() {
                    $("#etape4").removeClass('d-none');
                    $("#etape4").text('>>Garantie');
                    if(mycarousel3()){

                        if($("#montant").val() <= 150000000 && $("#mois").val() <= 12 && $("#montant").val() != '' && $("#mois").val() != '' ) {

                            $("#rmontant").text($("#montant").val());
                            $("#rmois").text($("#mois").val());
                            $("#rmotif").text($("#motif").val());
                            $("#rdetail").text($("#detail").val());
                            $("#ror").text($("#or").val());

                            $("#myCarousel").carousel(3);

                        }
                    }

                });
                $("#btn6").click(function() {
                    $("#etape5").removeClass('d-none');
                    $("#etape5").text('>>Ajouter garants');


                    if(mycarousegarantieor()){

                        $("#ror").text($("#or").val());

                        $("#myCarousel").carousel(4);
                    }




                });
                $("#btn7").click(function() {
                    $("#etape6").removeClass('d-none');
                    $("#etape6").text('>>Verfication des information');
                    if(mycarousel4()){
                        $("#ftitre").text('Formulaire de verification du demande QH');
                        $("#rnomits").text($("#nomits").val());
                        $("#rits").text($("#its").val());
                        $("#rmoza").text($("#moza").val());
                        $("#rcin").text($("#cin").val());
                        $("#rnomits1").text($("#nomits1").val());
                        $("#rits1").text($("#its1").val());
                        $("#rmoza1").text($("#moza1").val());
                        $("#rcin1").text($("#cin1").val());
                        $("#myCarousel").carousel(5);
                    }


                });
                $("#btn8").click(function() {
                    $("#etape7").removeClass('d-none');
                    $("#etape7").text('>>garant1');
                    // $("#ftitre").text('Formulaire de verification du demande QH');

                        $("#myCarousel").carousel(6);



                });
                $("#1").click(function(){
                    $("#myCarousel").carousel(1);
                });
                $("#2").click(function(){
                    $("#myCarousel").carousel(2);
                });
                $("#3").click(function(){
                    $("#myCarousel").carousel(3);
                });
                $("#4").click(function(){
                    $("#myCarousel").carousel(4);
                });



            });




                // function de requirement de carousel2
            function mycarousel2(){
                if($("#annee1").val()=='' || $("#montant1").val()=='' || $("#annee2").val()=='' || $("#montant2").val()==''|| $("#annee3").val()=='' || $("#montant3").val()==''){
                    if($("#annee1").val()==''){
                        $("#annee1").addClass('alert-danger');
                        $("#err_annee1").text('Veuillez remplire cette zone de texte');
                        $("#montant1").removeClass('alert-danger');
                        $("#err_montant1").text('');
                        $("#montant2").removeClass('alert-danger');
                        $("#err_montant2").text('');
                        $("#montant3").removeClass('alert-danger');
                        $("#err_montant3").text('');
                        $("#annee3").removeClass('alert-danger');
                        $("#err_annee3").text('');
                        $("#annee2").removeClass('alert-danger');
                        $("#err_annee2").text('');
                        $("#annee1").focus();
                        return false;

                    }else{ $("#annee1").removeClass('alert-danger');
                        $("#err_annee1").text(''); }

                    if($("#montant1").val()==''){
                        $("#montant1").addClass('alert-danger');
                        $("#err_montant1").text('Veuillez remplire cette zone de texte');
                        $("#annee1").removeClass('alert-danger');
                        $("#err_annee1").text('');
                        $("#montant2").removeClass('alert-danger');
                        $("#err_montant2").text('');
                        $("#montant3").removeClass('alert-danger');
                        $("#err_montant3").text('');
                        $("#annee3").removeClass('alert-danger');
                        $("#err_annee3").text('');
                        $("#annee2").removeClass('alert-danger');
                        $("#err_annee2").text('');
                        $("#montant1").focus();
                        return false;

                    }else{ $("#montant1").removeClass('alert-danger');
                        $("#err_montant1").text('');}


                    if($("#annee2").val()==''){
                        $("#annee2").addClass('alert-danger');
                        $("#err_annee2").text('Veuillez remplire cette zone de texte');
                        $("#annee1").removeClass('alert-danger');
                        $("#err_annee1").text('');
                        $("#montant2").removeClass('alert-danger');
                        $("#err_montant2").text('');
                        $("#montant3").removeClass('alert-danger');
                        $("#err_montant3").text('');
                        $("#annee3").removeClass('alert-danger');
                        $("#err_annee3").text('');
                        $("#annee2").focus();
                        return false;

                    }else{ $("#annee2").removeClass('alert-danger');
                        $("#err_annee2").text(''); }
                    if($("#montant2").val()==''){
                        $("#montant2").addClass('alert-danger');
                        $("#err_montant2").text('Veuillez remplire cette zone de texte');
                        $("#annee1").removeClass('alert-danger');
                        $("#err_annee1").text('');
                        $("#annee2").removeClass('alert-danger');
                        $("#err_annee2").text('');
                        $("#montant3").removeClass('alert-danger');
                        $("#err_montant3").text('');
                        $("#annee3").removeClass('alert-danger');
                        $("#err_annee3").text('');
                        $("#montant2").focus();
                        return false;

                    }else{ $("#montant2").removeClass('alert-danger');
                        $("#err_montant2").text('');}


                    if($("#annee3").val()==''){
                        $("#annee3").addClass('alert-danger');
                        $("#err_annee3").text('Veuillez remplire cette zone de texte');
                        $("#annee1").removeClass('alert-danger');
                        $("#err_annee1").text('');
                        $("#montant2").removeClass('alert-danger');
                        $("#err_montant2").text('');
                        $("#montant3").removeClass('alert-danger');
                        $("#err_montant3").text('');
                        $("#montant1").removeClass('alert-danger');
                        $("#err_montant1").text('');
                        $("#annee2").removeClass('alert-danger');
                        $("#err_annee2").text('');
                        $("#annee3").focus();
                        return false;

                    }else{ $("#annee3").removeClass('alert-danger');
                        $("#err_annee3").text(''); }

                    if($("#montant3").val()==''){
                        $("#montant3").addClass('alert-danger');
                        $("#err_montant3").text('Veuillez remplire cette zone de texte');
                        $("#annee1").removeClass('alert-danger');
                        $("#err_annee1").text('');
                        $("#montant2").removeClass('alert-danger');
                        $("#err_montant2").text('');

                        $("#annee3").removeClass('alert-danger');
                        $("#err_annee3").text('');
                        $("#annee2").removeClass('alert-danger');
                        $("#err_annee2").text('');

                        $("#or").removeClass('alert-danger');
                        $("#err_or").text('');

                        $("#montant3").focus();
                        return false;

                    }else{ $("#montant3").removeClass('alert-danger');
                        $("#err_montant3").text('');}
                }
                else{return true}


            }
            // function de requirement de carousel3
            function  mycarousel3() {

                if($("#montant").val()==''||$("#mois").val()==''||$("#detail").val()==''){
                    if($("#montant").val()==''){
                        $("#montant").addClass('alert-danger');
                        $("#err_montant").text('Veuillez remplire cette zone de texte');
                        $("#mois").removeClass('alert-danger');
                        $("#err_mois").text('');
                        $("#detail").removeClass('alert-danger');
                        $("#err_detail").text('');
                      /*  $("#or").removeClass('alert-danger');
                        $("#err_or").text('');
                        $("#photo").removeClass('alert-danger');
                        $("#err_photo").text('');
                        $("#scan").removeClass('alert-danger');
                        $("#err_scan").text('');*/
                        $("#montant").focus();
                        return false;
                    }else{$("#montant").removeClass('alert-danger');
                        $("#err_montant").text('')
                        if($("#montant").val() >150000000) {

                            $("#err_montant").text('Montant trop élevé');
                            return false

                        }
                        else{
                            $("#err_montant").text('');


                        };}

                    if($("#mois").val()==''){
                        $("#mois").addClass('alert-danger');
                        $("#err_mois").text('Veuillez remplire cette zone de texte');
                        $("#monatant").removeClass('alert-danger');
                        $("#err_monatant").text('');
                        $("#detail").removeClass('alert-danger');
                        $("#err_detail").text('');
                        /*$("#or").removeClass('alert-danger');
                        $("#err_or").text('');
                        $("#photo").removeClass('alert-danger');
                        $("#err_photo").text('');
                        $("#scan").removeClass('alert-danger');
                        $("#err_scan").text('');*/
                        $("#mois").focus();
                        return false;
                    }else{$("#mois").removeClass('alert-danger');
                        $("#err_mois").text('');
                        if($("#mois").val() >12) {

                            $("#err_mois").text('Le mois doit infiérieur ou égale 12');
                            return false;

                        }
                        else{
                            $("#err_mois").text('');



                        }}

                    if($("#detail").val()==''){
                        $("#detail").addClass('alert-danger');
                        $("#err_detail").text('Veuillez remplire cette zone de texte');
                        $("#monatant").removeClass('alert-danger');
                        $("#err_monatant").text('');
                        $("#mois").removeClass('alert-danger');
                        $("#err_mois").text('');
                       /* $("#or").removeClass('alert-danger');
                        $("#err_or").text('');
                        $("#photo").removeClass('alert-danger');
                        $("#err_photo").text('');
                        $("#scan").removeClass('alert-danger');
                        $("#err_scan").text('');*/
                        $("#detail").focus();
                        return false;
                    }else{$("#detail").removeClass('alert-danger');
                        $("#err_detail").text('');}

/*
                    if($("#or").val()==''){
                        $("#or").addClass('alert-danger');
                        $("#err_or").text('Veuillez remplire cette zone de texte');
                        $("#monatant").removeClass('alert-danger');
                        $("#err_monatant").text('');
                        $("#mois").removeClass('alert-danger');
                        $("#err_mois").text('');
                        $("#detail").removeClass('alert-danger');
                        $("#err_detail").text('');
                        $("#photo").removeClass('alert-danger');
                        $("#err_photo").text('');
                        $("#scan").removeClass('alert-danger');
                        $("#err_scan").text('');
                        $("#or").focus();
                        return false;
                    }else{$("#or").removeClass('alert-danger');
                        $("#err_or").text('');}

                    if($("#scan").val()==''){
                        $("#scan").addClass('alert-danger');
                        $("#err_scan").text('Veuillez remplire cette zone de texte');
                        $("#monatant").removeClass('alert-danger');
                        $("#err_monatant").text('');
                        $("#mois").removeClass('alert-danger');
                        $("#err_mois").text('');
                        $("#detail").removeClass('alert-danger');
                        $("#err_detail").text('');
                        $("#photo").removeClass('alert-danger');
                        $("#err_photo").text('');
                        $("#or").removeClass('alert-danger');
                        $("#err_or").text('');
                        $("#scan").focus();

                        return false;
                    }else{$("#scan").removeClass('alert-danger');
                        $("#err_scan").text('');}

                    if($("#photo").val()==''){
                        $("#photo").addClass('alert-danger');
                        $("#err_photo").text('Veuillez remplire cette zone de texte');
                        $("#monatant").removeClass('alert-danger');
                        $("#err_monatant").text('');
                        $("#mois").removeClass('alert-danger');
                        $("#err_mois").text('');
                        $("#detail").removeClass('alert-danger');
                        $("#err_detail").text('');
                        $("#scan").removeClass('alert-danger');
                        $("#err_scan").text('');
                        $("#or").removeClass('alert-danger');
                        $("#err_or").text('');
                        $("#photo").focus();
                        return false;
                    }else{$("#photo").removeClass('alert-danger');
                        $("#err_photo").text('');}*/

                }
                else{
                    return true;
                }

            }
            // function de requirement de garantieor
            function  mycarousegarantieor() {

                if($("#or").val()==''||$("#photo").val()==''||$("#scan").val()==''){

                                        if($("#or").val()==''){
                                            $("#or").addClass('alert-danger');
                                            $("#err_or").text('Veuillez remplire cette zone de texte');

                                            $("#photo").removeClass('alert-danger');
                                            $("#err_photo").text('');
                                            $("#scan").removeClass('alert-danger');
                                            $("#err_scan").text('');
                                            $("#or").focus();
                                            return false;
                                        }else{$("#or").removeClass('alert-danger');
                                            $("#err_or").text('');}

                                        if($("#scan").val()==''){
                                            $("#scan").addClass('alert-danger');
                                            $("#err_scan").text('Veuillez remplire cette zone de texte');

                                            $("#photo").removeClass('alert-danger');
                                            $("#err_photo").text('');
                                            $("#or").removeClass('alert-danger');
                                            $("#err_or").text('');
                                            $("#scan").focus();

                                            return false;
                                        }else{$("#scan").removeClass('alert-danger');
                                            $("#err_scan").text('');}

                                        if($("#photo").val()==''){
                                            $("#photo").addClass('alert-danger');
                                            $("#err_photo").text('Veuillez remplire cette zone de texte');

                                            $("#scan").removeClass('alert-danger');
                                            $("#err_scan").text('');
                                            $("#or").removeClass('alert-danger');
                                            $("#err_or").text('');
                                            $("#photo").focus();
                                            return false;
                                        }else{$("#photo").removeClass('alert-danger');
                                            $("#err_photo").text('');}

                }
                else{
                    return true;
                }



            }
            // function de requirement de carousel4
            function mycarousel4(){
                if($("#nomits").val()==''||$("#its").val()==''||$("#cin").val()==''||
                    $("#nomits1").val()==''||$("#its1").val()==''||$("#cin1").val()==''){

                    if($("#nomits").val()==''){
                    $("#nomits").addClass('alert-danger');
                    $("#err_nomits").text('Veuillez remplire cette zone de texte');
                        $("#its").removeClass('alert-danger');
                        $("#err_its").text('');
                        $("#cin").removeClass('alert-danger');
                        $("#err_cin").text('');
                        $("#nomits").focus();

                    return false;
                      }
                    else{
                        $("#nomits").removeClass('alert-danger');
                        $("#err_nomits").text('');}

                if($("#its").val()==''){
                    $("#its").addClass('alert-danger');
                    $("#err_its").text('Veuillez remplire cette zone de texte');
                    $("#nomits").removeClass('alert-danger');
                    $("#err_nomits").text('');
                    $("#cin").removeClass('alert-danger');
                    $("#err_cin").text('');
                    $("#its").focus();

                    return false;
                }
                else{
                    $("#its").removeClass('alert-danger');
                    $("#err_its").text('');
                    if(test_its('its','#err_its')==false){return false }}

                if($("#cin").val()==''){
                    $("#cin").addClass('alert-danger');
                    $("#err_cin").text('Veuillez remplire cette zone de texte');
                    $("#nomits").removeClass('alert-danger');
                    $("#err_nomits").text('');
                    $("#its").removeClass('alert-danger');
                    $("#err_its").text('');
                    $("#cin").focus();
                    return false;
                }
                else{
                    $("#cin").removeClass('alert-danger');
                    $("#err_cin").text('');}


                     if($("#nomits1").val()==''){
                        $("#nomits1").addClass('alert-danger');
                        $("#err_nomits1").text('Veuillez remplire cette zone de texte');
                        $("#its1").removeClass('alert-danger');
                        $("#err_its1").text('');
                        $("#cin1").removeClass('alert-danger');
                        $("#err_cin1").text('');
                         $("#nomits1").focus();
                        return false;
                    }
                    else{
                        $("#nomits1").removeClass('alert-danger');
                        $("#err_nomits1").text('');}

                    if($("#its1").val()==''){
                        $("#its1").addClass('alert-danger');
                        $("#err_its1").text('Veuillez remplire cette zone de texte');
                        $("#nomits1").removeClass('alert-danger');
                        $("#err_nomits1").text('');
                        $("#cin1").removeClass('alert-danger');
                        $("#err_cin1").text('');
                        $("#its1").focus();

                        return false;
                    }
                    else{
                        $("#its1").removeClass('alert-danger');
                        $("#err_its1").text('');
                        if(test_its('its1','#err_its1')==false){return false }}

                    if($("#cin1").val()==''){
                        $("#cin1").addClass('alert-danger');
                        $("#err_cin1").text('Veuillez remplire cette zone de texte');
                        $("#nomits1").removeClass('alert-danger');
                        $("#err_nomits1").text('');
                        $("#its1").removeClass('alert-danger');
                        $("#err_its1").text('');
                        $("#cin1").focus();
                        return false;
                    }
                    else{
                        $("#cin1").removeClass('alert-danger');
                        $("#err_cin1").text('');}
            }
            else {return true }
            }
            const formBtn1 = document.querySelector("#btn-1")
            const formBtnPrev2 = document.querySelector("#btn-2-prev")
            const formBtnNext2 = document.querySelector("#btn-2-next")
            const formBtnPrev3 = document.querySelector("#btn-3-prev")
            const formBtnNext3 = document.querySelector("#btn-3-next")
            const formBtnPrev4 = document.querySelector("#btn-4-prev")
            const formBtn4 = document.querySelector("#btn-4")
            formBtn1.addEventListener("click", function(e) {
                gotoNextForm(formBtn1, formBtnNext2, 1, 2)
                e.preventDefault()
            })

            // Next button listener of form 2
            formBtnNext2.addEventListener("click", function(e) {
                gotoNextForm(formBtnNext2, formBtnNext3, 2, 3)
                e.preventDefault()
            })
            formBtnNext3.addEventListener("click", function(e) {
                gotoNextForm(formBtnNext3, formBtn4, 3, 4)
                e.preventDefault()
            })

            // Previous button listener of form 2
            formBtnPrev2.addEventListener("click", function(e) {
                gotoNextForm(formBtnNext2, formBtn1, 2, 1)
                e.preventDefault()
            })
            // Previous button listener of form 2
            formBtnPrev3.addEventListener("click", function(e) {
                gotoNextForm(formBtnNext3, formBtnNext2, 3,2)
                e.preventDefault()
            })
            formBtnPrev4.addEventListener("click", function(e) {
                gotoNextForm(formBtn4, formBtnNext3, 4,3)
                e.preventDefault()
            })
            // Button listener of form 3
           /* formBtn3.addEventListener("click", function(e) {
                document.querySelector(`.step--3`).classList.remove("step-active")
                document.querySelector(`.step--4`).classList.add("step-active")
                formBtn3.parentElement.style.display = "none"
                document.querySelector(".form--message").innerHTML = `
   <h1 class="form--message-text">Your account is successfully created </h1>
   `
                e.preventDefault()
            })*/
            const gotoNextForm = (prev, next, stepPrev, stepNext) => {
                // Get form through the button
                const prevForm = prev.parentElement
                const nextForm = next.parentElement
                const nextStep = document.querySelector(`.step--${stepNext}`)
                const prevStep = document.querySelector(`.step--${stepPrev}`)
                // Add active/inactive classes to both previous and next form
                nextForm.classList.add("form-active")
                nextForm.classList.add("form-active-animate")
                prevForm.classList.add("form-inactive")
                // Change the active step element
                prevStep.classList.remove("step-active")
                nextStep.classList.add("step-active")
                // Remove active/inactive classes to both previous an next form
                setTimeout(() => {
                    prevForm.classList.remove("form-active")
                    prevForm.classList.remove("form-inactive")
                    nextForm.classList.remove("form-active-animate")
                }, 1000)
            }
        </script>

    </div>

{% endblock %}