{% extends '@DemandeQh/demande/BaseDemandQH.html.twig' %}

{% block body_container %}
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 50px;
            height: 50px;
            background-color: #0088CC;
        }
        col-lg .groove {
            border: 1px outset #1b0b0e;
            box-shadow: 4px 4px 0px black;
        }
        h1,h2,h3,label,button,input,select,textarea,p {
            text-shadow: 0.1px 0.1px 1px black;

        }
        button {
            border-radius: 0px;
            box-shadow: 4px 4px 0px black;
        }

    </style>

    <div class="container-fluid">
        <br>
        <div class="card text-center">
            <div class="card-header">
                <h3 class="text-info"><img src="{{ asset('/document/'~groupe.photo) }}" class="img img-fluid" alt="" width="50" height="50">
                    {{ 'grp-listeversement.titre'|trans  }} {{ groupe.nomgroup }}
                </h3>
            </div>
            <div class="card-body">
                <form class="container" id="formmembre" action="#" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-12">

                                <table class="table table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">{{ 'grp-listeversement.date'|trans }}</th>

                                        <th scope="col">{{ 'grp-listeversement.montant'|trans }}</th>
                                        <th scope="col">{{ 'grp-listeversement.etat'|trans }}</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set solde = 0 %}
                                    {% set font = "font-style: italic" %}
                                    {% set color = "color: #696969" %}
                                    {% set couleur = ' ' %}
                                    {% for versement in versements %}

                                        {% if versement.etat ==  'En attente de confirmation' %}
                                            {% set couleur = 'bg-primary' %}
                                        {% endif %}

                                        {% if versement.etat == 'Acceptée' %}
                                            {% set couleur = 'bg-success' %}
                                        {% endif %}

                                        {% if  versement.etat == 'Refusée' %}
                                            {% set couleur = 'bg-danger' %}
                                        {% endif %}
                                        <tr>

                                            <td >
                                                {{ versement.date|date('d/m/Y') }}
                                            </td>
                                            <td >{{ versement.montant|number_format(2, ',', ' ') }}</td>

                                            <td class="text-center {{ couleur }} " style="text-align: center; ">
                                                {{ versement.etat }}
                                            </td>


                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
