{% extends '@DemandeQh/demande/BaseDemandQH.html.twig' %}

{% block body_container %}
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 50px;
            height: 50px;
            background-color: #0088CC;
        }
        col-lg .groove {
            border: 1px outset #1b0b0e;
            box-shadow: 4px 4px 0px black;
        }
        h1,h2,h3,label,button,input,select,textarea,p {
            text-shadow: 0.1px 0.1px 1px black;

        }
        button {
            border-radius: 0px;
            box-shadow: 4px 4px 0px black;
        }




        .drop {
            width: 50%;
            height: 50px;
            border: 0px dashed #DADFE3;

            border-radius: 0px;
            overflow: hidden;
            text-align: center;
            background: transparent;

            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;

            margin-top: 0px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        *, *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        input:focus, select:focus, textarea:focus, button:focus {
            outline: none;
        }

        .drop .cont {
            width: 150px;
            height: 50px;
            color: #8E99A5;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .drop .cont i {
            font-size: 40px;
            color: #787e85;
            position: relative;
        }

        .drop .cont .tit {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 900;
        }

        .drop .cont .desc {
            color: #787e85;
            font-size: 18px;
        }

        .drop .cont .browse {
            margin: 10px 25%;
            color: white;
            padding: 8px 16px;
            border-radius: 4px;
            background: #00c993;
        }

        .drop input {
            width: 100%;
            height: 100%;
            cursor: pointer;
            background: red;
            opacity: 0;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        #list {
            width: 100%;
            text-align: left;
            position: absolute;
            left: 0;
            top: 0;
        }

        .dashed_upload {
            height: 200px;
        }


    </style>

    <div class="container-fluid">
        <br>
        <div class="card text-center">
            <div class="card-header">
                <h3 class="text-info"><img src="{{ asset('Images/groupe.jpg') }}" class="img img-fluid" alt="" width="50" height="50">
                    {{ 'listegroupe.titre'|trans  }}
                </h3>
            </div>
            <div class="card-body">
                <form class="container" id="formmembre" action="#" method="POST" enctype="multipart/form-data">


                    <div class="form-group">

                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>{{ 'listegroupe.date'|trans }}</th>
                                <th>{{ 'listegroupe.nom'|trans }}</th>
                                <th>{{ 'listegroupe.user'|trans }}</th>
                                <th>{{ 'listegroupe.action'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody id ="membregroupe">

                            {% for membre in membres  %}
                                <tr class="active">
                                    <td>{{ membre.association.dateassociation|date('d/m/Y') }}</td><td>{{ membre.association.nomassociation }}</td>
                                    <td>{{ membre.association.userCreer.nom ~' '~ membre.association.userCreer.prenom  }}</td>
                                    <td><a href="{{ path('accueil_association',{'id': membre.association.id}) }}"><i class="fa fa-eye text-info fa-2x"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
