{% extends '@Back/base_backend.html.twig' %}
{% block sous_menu_titre %}Listes demandes QH{% endblock %}
{% block body_container %}
    <style>

    </style>
    {% set cheque = " " %}
    {% set couleur = " " %}
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped" >
                <thead id="customers">
                <tr>
                    <th scope="col">{{ 'listedemandeQH.numero'|trans }}</th>
                    <th scope="col">{{ 'listedemandeQH.date'|trans }}</th>

                    <th scope="col">{{ 'listedemandeQH.nom et prenom'|trans }}</th>

                    <th scope="col">{{ 'listedemandeQH.montant'|trans }}</th>
                    <th scope="col">{{ 'listedemandeQH.mois'|trans }}</th>
                    <th scope="col">Date <br>Confirme</th>
                    <th scope="col" >
                        Date <br>fin</th>
                    <th scope="col">{{ 'listedemandeQH.etat'|trans }}</th>

                </tr>
                </thead>
                <tbody>

                {% for demandeQH in demandeQHs  %}


                    {% if demandeQH.etat.nomEtat == 'confirmer' or demandeQH.etat.nomEtat == 'Demande en attente' %}
                        {% set couleur = 'alert-primary' %}
                    {% endif %}

                    {% if demandeQH.etat.nomEtat == 'okok' or demandeQH.etat.nomEtat == 'Demande accépté' %}
                        {% set couleur = 'alert-success' %}
                    {% endif %}

                    {% if  demandeQH.etat.nomEtat == 'Demande refusé' %}
                        {% set couleur = 'alert-danger' %}
                    {% endif %}
                    {% if  demandeQH.etat.nomEtat == 'Demande accépté mais modification à effectué' %}
                        {% set couleur = 'alert-warning' %}
                    {% endif %}
                    <tr>
                        <td><a href="{{ path('confirmationdemandeQH',{ 'id' : demandeQH.id}) }}" >{{ demandeQH.numero }}</a></td>
                        <td>{{ demandeQH.date|date('d/m/Y') }}</td>
{#
                        <td><img src="{{ asset('document/'~ demandeQH.personne.photo) }}" class="img img-fluid" alt="" width="50" height="50"></td>
#}
                        <td>{{ demandeQH.personne.nom ~' '~ demandeQH.personne.prenom }}</td>

                        <td class="text-right" style="white-space: nowrap">{{ demandeQH.montant|number_format('2',',',' ')}}</td>
                        <td>{% set m=demandeQH.nombreMois %}{{ demandeQH.nombreMois }}</td>
                        <td >
                            {% if(demandeQH.dateConfirme) %}
                            {{ demandeQH.dateConfirme|date('d/m/Y') }}
                            {% endif %}
                        </td>
                        <td >
                            {% if(demandeQH.dateConfirme) %}
                            {{ demandeQH.dateConfirme|date_modify("+"~m~ "months")|date("d/m/Y") }}
                        {% endif %}
                        </td>
                        <td class="text-center {{ couleur }}" style=" background-color:{{ couleur }} ;text-align: center; ">
                            {{ demandeQH.etat.nomEtat }}
                        </td>

                    </tr>

                {% endfor %}

               {# {% for societe in societedemandeQH  %}
                    {% if societe.dateenvoie %}
                        <tr>
                            <td><a href="{{ path('detail_societedemandeQhback',{'id':societe.id}) }}" >{{ societe.numero }}</a></td>
                            <td><a >{{societe.datedemande|date('d/m/Y') }}</a></td>
                            <td><img src="{{ asset('document/'~ societe.personne.photo) }}" class="img img-fluid" alt="" width="50" height="50"></td>
                            <td>{{ societe.personne.nom ~' '~ societe.personne.prenom }}</td>
                            <td>{{  societe.societe }}</td>
                            <td class="text-right">{{ societe.montant|number_format('2',',',' ')}}</td>
                            <td>{{ societe.nombreMois }}</td>
                            <td class="text-center" >

                            </td>
                        </tr>
                    {% endif %}


                {% endfor %}#}

                </tbody>

            </table>

        </div>

    </div>


{% endblock %}